* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 2px solid black;
}

// .loginPage {
   
//     width:1512px;
//     position: absolute;
//     top: 0px;

    .parent {
        position: relative;

    }

    .parent:before {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: -1;
        content: '';
        position: relative;
        opacity: 0.5;
        width: 1512px;
        height: 982px;
        left: 0px;
        
        overflow: hidden;
        background: url("../img/rfg.jpeg");
        background-size: cover;
        background-position: center;
    }

    .frame {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-between;
        width: 1370px;
        height: 880px;
        left: 50px;
        bottom: 100px;
    

        top: 50px;
        background-color: rgb(243, 243, 237);
        border-radius: 35px;

        >.part1 {
            background: url("../img/login.png");

            border-radius: 35px 0px 0px 35px;
            width: 699.76px;
            height: 880px;
        }

        >.part2 {

            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 0px 35px 35px 0px;
            width: 650px;
            height: 880px;

            >h1 {
                margin-top: 85px;
                text-align: center;
            }

            >p {
                text-align: center;
                margin-top: 15px;
            }

            >form {


                >input {
                    margin-top: 40px;
                    display: flex;
                    font-size: 20px;
                    text-align: justify;
                    padding-left: 20px;
                    align-items: center;
                    justify-content: center;
                    width: 449px;
                    height: 66.4px;
                    background: #FFFFFF;
                    border: 1px solid #000000;
                    border-radius: 35px;
                }

                >.checkbox1 {
                    margin: 35px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    >.checkbox {
                        display: flex;
                        flex-direction: row;
                        justify-content: baseline;
                        font-size: 15px;

                        >input{
                            width: 25px;
                            height: 25px;
                        }

                        >label{
                            font-size: 20px;
                        }
                    }

                    >p {
                        font-size: 20px;
                        text-decoration: underline;
                    }


                }

                >.loginbtn {
                    display: flex;
                    justify-content: center;

                    >input {
  
                        width: 99px;
                        height: 31px;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        line-height: 25px;
                        background:rgba(114, 112, 112, 0.9);
                        border-radius: 20px;
                        color: #FFFFFF;
                        font-style: normal;
                        border: 1px solid black;

                    }

                }

            }
            >p{
                margin-top: 50px;
                font-size: 25px;
                >span{
                    color:rgb(147, 147, 199);
                }

            }
            >.line{
                margin-top: 40px;
                width: 80%;
                justify-content: space-between;
                align-items: baseline;
                display: flex;
                flex-direction: row;
                >.line-1{
                    display: flex;
                    align-items: center;
                    height: 1px;
                    background: black;
                    width:200px;
                }
                >.line-2{
                    font-size: 25px;
                }

                >.line-3{
                    display: flex;
                    align-items: center;
                    height: 1px;
                    background: black;
                    width:200px;
                }
            }
            >.liginWith{
                margin-top: 30px;
                width: 80%;
                justify-content: space-evenly;
                align-items: baseline;
                display: flex;
                flex-direction: row;
                >.btn1{
                    width: 250px;
                    height: 40px;
                    font-weight: 600;
                    font-size: 20px;
                    text-align: center;
                    line-height: 25px;
                    background: rgba(147, 165, 226, 0.9);
                    border-radius: 20px;
                    font-style: normal;
                    color: azure;
                }
                >.btn2{
                    width: 250px;
                    height: 40px;
                    font-weight: 600;
                    font-size: 20px;
                    text-align: center;
                    line-height: 25px;
                    background: rgba(62, 82, 150, 0.9);
                    border-radius: 20px;
                    color: azure;
                    font-style: normal;
                }

            }


        }
    }

// }